@charset "utf-8";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

//colors
  
$background: #fff;

body {
  background: $background;
  font-family: "PT Mono";
  font-size: 1em;
  color: #000; 
}

a{
  text-decoration: none;
}

ul,li,p{
  padding: 0;
  margin: 0;
}

h1, h2{
  margin: 0;
  line-height: 1em;
}

h1 {
  font-size: 72px;
}

h3{
  margin: 0;
  font-weight: normal;
}

h1 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
  margin: 3%;
  line-height: 2;
}

.logo img {
  padding-bottom: 20px;
}

.logo a{
  color:#000;
}

//container

.container {
  padding: 3%;
}

.footer {
  padding: 3%;
}
